/*////////////////////////   GENERAL  ///////////////////////*/

* {
    margin: 0;
    padding: 0;
}
body {
    padding: 0 40px;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-size: 15px;
}
h1 {
    margin-top: 20px;
}
.titre {
    font-size: 20px;
    font-weight: bold;
}
.bold {
    font-weight: bold;
}

/*////////////////////////   HEADER  ///////////////////////*/

.header {
    display: flex;
    justify-content: space-between;
}
.header img {
    width: 60px;
    padding: 30px 0;
}
.header ul {
    display: flex;
    flex-direction: row;
}
.header li {
    list-style: none;
}
.header a {
    display: block;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;
}
.header a:hover {
    color: #0065FC;
    border-top: 2px solid;
}

/*////////////////////   SECTION RECHERCHE  ////////////////////*/

.section_recherche p {
    margin: 8px 0;
}
/*
.form {
    display: flex;
    flex-direction: row;
    gap: 0px;
}
*/
.section_recherche form {
    height: 40px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    gap: 0px;
}
.section_recherche form i {
    background-color: #F2F2F2;
    padding: 13px 15px;
    border-radius: 8px 0 0 8px;
}
.section_recherche form input[type="search"] {
    height: 100%;
    width: 200px;
    padding-left: 15px;
    border: 1px solid #F2F2F2;
}
.section_recherche form input[type="submit"] {
    height: 100%;
    width: 100px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 8px 8px 0;
}
.div_filtres {
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin-top: 25px;
}
.div_filtres p {
    font-weight: bold;
}
.div_filtres button {
    font-weight: bold;
    background-color: white;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    padding: 0 15px;
}
.div_filtres button:hover {
    background-color: #DEEBFF;
}
.div_filtres button i {
    color: #0065FC;
    margin-right: 10px;
}
.div_info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    margin: 25px 0;
}
.div_info div {
    display: flex;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #F2F2F2;
    color: #0065FC;
}
.div_info div i {
    margin: auto;
}

/*//////////////////   DIV HEBERGEMENT & POPULAIRE  //////////////////*/

.hebergement_et_populaire {
    display: flex;
    flex-direction: row;
}

/*////////////////////   SECTION HEBERGEMENTS  ////////////////////*/

.section_hebergements {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    margin-right: 30px;
    flex-grow: 2;
}
.grid_cartes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 20px 0;
}
.carte_hebergement {
    width: 220px;
    height: 180px;
    border-radius: 15px;
    border: 4px solid white;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.carte_hebergement a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
}
.carte_hebergement a img {
    width: 100%;
    height: 110px;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
}
.carte_texte {
    background-color: white;
    padding: 10px 15px;
    border-radius: 0 0 15px 15px;
}
.carte_texte p {
    font-size: 13px;
    margin: 5px 0;
}
.carte_etoiles {
    display: flex;
    flex-direction: row;
}
.carte_etoiles_bleues {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}
.carte_etoiles_bleues i {
    margin: auto;
}
.carte_etoile_grise {
    color: #EFEBEB;
}

/*////////////////////   ASIDE POPULAIRE  ////////////////////*/

.aside {
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 30px;
    flex-grow: 1;
}
.aside_titre {
    display: flex;
    justify-content: space-between;
}
.aside_titre i {
    color: #0065FC;
}
.div_vignettes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.vignette_populaire {
    width: 320px;
    height: 120px;
    border-radius: 15px;
    border: 4px solid white;
    margin: 20px 0;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.vignette_populaire a {
    display: flex;
    text-decoration: none;
    color: black;
}
.vignette_populaire a img {
    border-radius: 15px 0 0 15px;
    width: 40%;
    height: 120px;
    object-fit: cover;
}
.vignette_texte {
    background-color: white;
    padding: 10px 15px;
    border-radius: 0 15px 15px 0;
    width: 60%;
}
.vignette_texte p {
    font-size: 13px;
    margin: 5px 0;
}
.vignette_etoiles {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 5px;
}
.vignette_etoiles_bleues {
    color: #0065FC;
    display: flex;
    flex-direction: row;
}
.vignette_etoiles_bleues i {
    margin: auto;
}
.vignette_etoile_grise {
    color: #EFEBEB;
}

/*////////////////////   SECTION ACTIVITES  ////////////////////*/

.activites {
    margin: 50px 0;
}
.activites h2 {
    margin-bottom: 30px;
}
.div_vignettes_activites {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.vignette_activite {
    width: 280px;
    height: 400px;
    border-radius: 15px;
    border: 2px solid #EFEBEB;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.vignette_activite a {
    text-decoration: none;
    color: black;
}
.vignette_activite a img {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.vignette_activite a h4 {
    background-color: white;
    padding: 10px 15px;
    border-radius: 0 0 15px 15px;
}

/*////////////////////   FOOTER  ////////////////////*/

.footer {
    background-color: #EFEBEB;
    display: flex;
    padding: 40px 60px;
}
.div_footer {
    margin-right: 200px;
}
.div_footer ul {
    margin-top: 20px;
}
.div_footer li {
    list-style: none;
    margin: 10px 0;
}
.div_footer li a {
    text-decoration: none;
    color: black;
}







