@media screen and (min-width: 769px) and (max-width: 991px) {

    /*////////////////////////   GENERAL  ///////////////////////*/
    * {
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Raleway', sans-serif;
        color: black;
        font-size: 12px;
        padding: 0 50px;
        max-width: 991px;
    }

    h1 {
        margin-top: 20px;
        font-weight: 900;
        font-size: 16px;
    }

    h2 {
        font-weight: 900;
        font-size: 17px;
    }

    .bold {
        font-weight: bold;
    }

    /*////////////////////////   HEADER  ///////////////////////*/
    .header {
        display: flex;
        justify-content: space-between;
    }

    .header img {
        height: 15px;
    }

    .header ul {
        display: flex;
        flex-direction: row;
    }

    .header li {
        list-style: none;
    }

    .header a {
        display: block;
        padding: 30px;
        text-decoration: none;
        font-weight: 500;
    }

    .header a:hover {
        color: #0065FC;
        border-top: 2px solid;
    }

    /*////////////////////   SECTION RECHERCHE  ////////////////////*/
    
    .section_recherche {
        margin: 0;
    }
    .section_recherche p {
        margin: 8px 0;
    }

    .section_recherche form {
        height: 40px;
        margin: 10px 0;
        display: flex;
        flex-direction: row;
        gap: 0px;
    }

    .div_icone_loc {
        background-color: #F2F2F2;
        border-radius: 15px 0 0 15px;
        width: 24px;
        padding: 8px;
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .input_search {
        height: 100%;
        width: 190px;
        padding-left: 15px;
        border: 1px solid #F2F2F2;
        font-size: 14px;
        font-weight: 900;
        font-family: 'Raleway';
    }

    .bouton_recherche {
        height: 100%;
        width: 100px;
        background-color: #0065FC;
        color: white;
        border: none;
        border-radius: 0 15px 15px 0;
        cursor: pointer;
        font-size: 14px;
        font-family: 'Raleway';
        font-weight: 600;

    }

    .bouton_recherche i {
        display: none;
    }

    .div_filtres {
        display: flex;
        justify-content: flex-start;
        margin: 20px 0;
    }

    .div_filtres p {
        font-weight: 900;
        margin: auto 5px auto 0;
        font-size: 13px;
    }

    .div_filtres button {
        font-weight: 900;
        background-color: white;
        border: 2px solid #F2F2F2;
        border-radius: 40px;
        font-family: 'Raleway';
        height: 35px;
        font-size: 13px;
        display: flex;
        align-items: center;
        margin: auto 8px;
        padding: 0 15px;
    }

    .div_filtres button:visited {
        background-color: #DEEBFF;
    }

    .div_filtres button i {
        color: #0065FC;
        margin: auto 8px auto 0;
    }

    .div_info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0;
    }

    .div_info div {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1px solid #F2F2F2;
        color: #0065FC;
        margin: 0 7px 0 0;
    }

    .div_info div i {
        margin: auto;
    }

    /*//////////////////   DIV HEBERGEMENT & POPULAIRE  //////////////////*/
    .hebergement_et_populaire {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    /*////////////////////   SECTION HEBERGEMENTS  ////////////////////*/
    .section_hebergements {
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 30px;
        width: 100%;
    }

    .section_hebergements h2 {
        margin-right: 0;
    }

    .div_cartes {
        margin: 5px 0;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .carte_hebergement {
        border-radius: 15px;
        border: 4px solid white;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        width: 28%;
    }

    .carte_hebergement a {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
    }

    .carte_hebergement a img {
        width: 100%;
        height: 90px;
        border-radius: 15px 15px 0 0;
        object-fit: cover;
    }

    .carte_texte {
        background-color: white;
        padding: 8px 10px 2px 10px;
        border-radius: 0 0 10px 10px;
        height: 55px;
        box-sizing: border-box;
    }

    .carte_texte h4 {
        font-size: 12px;
    }

    .carte_texte p {
        font-size: 11px;
        margin: 2px 0;
    }

    .div_etoiles {
        display: flex;
        flex-direction: row;
        margin: 2px 0;
    }

    .div_etoiles_bleues {
        color: #0065FC;
        display: flex;
        flex-direction: row;
    }

    .div_etoiles_bleues i {
        margin: auto;
    }

    .div_etoile_grise {
        color: #EFEBEB;
    }
    .afficher_plus {
        font-size: 14px;
        margin: 12px 0 5px 0;
    }

    /*////////////////////   ASIDE POPULAIRE  ////////////////////*/
    .aside_populaires {
        background-color: #F2F2F2;
        border-radius: 20px;
        padding: 30px;
        width: 100%;
        margin-top: 40px;
    }

    .aside_titre {
        display: flex;
        justify-content: space-between;
    }

    .aside_titre i {
        color: #0065FC;
    }

    .div_vignettes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .vignette_populaire {
        width: 30%;
        border-radius: 15px;
        border: 4px solid white;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        margin: 3% 0 1% 0;
    }

    .vignette_populaire a {
        display: flex;
        text-decoration: none;
        color: black;
    }

    .vignette_populaire a img {
        border-radius: 15px 0 0 15px;
        width: 40%;
        height: 100px;
        min-width: 70px;
        object-fit: cover;
    }

    .vignette_texte {
        background-color: white;
        padding: 6px 13px 2px 12px;
        border-radius: 0 10px 10px 0;
        width: 60%;
        min-width: 90px;
        object-fit: cover;
    }

    .vignette_texte h4 {
        font-size: 12px;
    }

    .vignette_texte p {
        font-size: 10px;
        margin: 5px 0;
    }

    .vignette_etoiles {
        display: flex;
        flex-direction: row;
        position: absolute;
        bottom: 5px;
    }

    .vignette_etoiles_bleues {
        color: #0065FC;
        display: flex;
        flex-direction: row;
    }

    .vignette_etoiles_bleues i {
        margin: auto;
    }

    .vignette_etoile_grise {
        color: #EFEBEB;
    }

    /*////////////////////   SECTION ACTIVITES  ////////////////////*/
    .activites {
        margin: 50px 0;
    }

    .activites h2 {
        margin-bottom: 10px;
    }

    .div_vignettes_activites {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .vignette_activite {
        width: 21%;
        height: 200px;
        border-radius: 20px;
        border: 2px solid #EFEBEB;
        filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
        margin: 3% 0 1% 0;
        box-sizing: border-box;
    }

    .vignette_activite a {
        text-decoration: none;
        color: black;
        display: flex;
        flex-direction: column;
    }

    .vignette_activite a img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 160px;
        object-fit: cover;
    }

    .vignette_activite a h4 {
        background-color: white;
        border-radius: 0 0 20px 20px;
        height: 40px;
        padding: 10px 25px 10px 15px;
        box-sizing: border-box;
    }

    /*////////////////////   FOOTER  ////////////////////*/
    .footer {
        background-color: #EFEBEB;
        display: flex;
        justify-content: space-between;
        padding: 30px 50px;
    }

    .div_footer {
        min-width: 30%;
    }

    .div_footer ul {
        margin-top: 15px;
    }

    .div_footer li {
        list-style: none;
        margin: 10px 0;
    }

    .div_footer li a {
        text-decoration: none;
        color: black;
    }
}